<div class="form-group_"> 
	 <select class="form-control pull-right" style="width:75px;margin:30px 10px" ng-model="day">
	 <option>היום</option> 
	 <option>מחר</option> 
	 </select>
	 
	 
	 <span class="pull-right" style="font-wegiht:bold;line-height:35px;padding:30px 10px"> ב </span>
	 

     <num-picker ng-model="minutes" max="59" min="0"></num-picker>
	 
	 <span class="pull-right" style="line-height:35px;padding:30px 10px"> : </span>
	 
     <num-picker ng-model="hour" max="23" min="0"></num-picker>
	 

</div> 