html{direction:rtl;}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.view-container{color:#71B216;}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;  
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}	

.navbar-default{
	background-color: #F7921E;
	background-image: none;
}
#footer{
    padding-top:10px;
	height:60px;
	position:absolute;
	bottom:0;
	background-color: #F7921E;
	width:100%;
}
#wrap{
	padding-top:60px;
}
.btn-primary{
  background:#71B216;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary.active{
  background:#3C5912;
}
.btn-group-wrap {
    text-align: center;
}
.btn-group-wrap  .btn{
width: 100px;
}
ul{padding:0;}
.view-container li.list-group-item:hover{
  color: #428bca;
  background-color: #f5f5f5;
  cursor:pointer;
}
.title-message{
	color:#fff;
	padding:0;
	margin:10px 0;
	text-align:center;
}
/*---------LIST------------*/
.loader-wrap{margin-top:35px;}
input[type=number].ng-invalid{
  border:1px solid red;
}
/*--------TIME-------*/

.time-input{
  width:40px;
}
.num-section{
width:40px
}